---
layout: default
category: home
full_title: 金点原子保险柜
---
<mip-carousel autoplay defer="3500" layout="responsive" width="1920" height="700" indicator buttonController>{% for post in site.categories["products"] %}{% if post.home == 'home' %}
  <a data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}"><mip-img src="{{ site.url }}/images/home/billboard-{{ post.image }}.jpg" alt="{{ post.title }}"></mip-img></a>{% endif %}{% endfor %}
</mip-carousel>
<div class="container margin-btm-40">
  {% include products-list.html %}
</div>
<div class="home-about">
  <div class="container">
    <p class="title-3 text-black text-center margin-top-40">金点原子保险柜</p>
    <div class="row margin-top-40">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-btm-10">
        <p><mip-img src="{{ site.url }}/images/home/about.jpg" class="img-thumbnail" alt="金点原子保险柜"></mip-img></p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-indent-2">
        <p>广东金点原子安防科技股份有限公司，建于2001年，前身为“广东金点原子制锁有限公司”， 是一家集研究、开发、生产、销售、安防为一体的，从事高安全锁具、防盗门、保险柜和电子防盗器材的制造型企业。</p>
        <p>公司占地面积60亩、厂房建筑面积30000平方米。公司下辖8个部门、1个科研所、1个培训基地、12个车间、13家分公司，员工近1000人。公司主要有：以“月牙锁芯”、“叶片锁芯”、“空转防暴锁芯”、 和95116专供的“月牙复合边柱锁芯”、“子母弹子边柱锁芯”、“旋转角度边柱锁芯”、“内外叶片边柱锁芯”为核心技术的高安全锁芯和与其配套的防盗门锁、装饰门锁、保险柜锁、汽车锁、摩托车锁、自行车锁、挂锁、电子应急锁、指纹锁等10个系列800多个品种。</p>
        <p>宁波弗雷迪安防科技有限公司为金点原子旗下保险柜事业部专业负责保险柜的生产与销售工作。<a href="{{ site.url }}/about/">了解更多</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container hidden-xs hidden-sm">
  <p class="title-3 text-black text-center margin-top-40">新闻中心</p>
  <div class="row margin-top-40">{% for post in site.categories["news"] limit:3 %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-btm-20">
      <div class="news-sec">
        <a data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}"><mip-img src="{{ site.url }}/images/news/{{ post.image }}.jpg" alt="{{ post.title }}"></mip-img></a>
        <div class="news-desc">
          <p class="blog-post-title margin-top-10 text-center"><a data-title="{{ post.title }}" href="{{ site.url }}{{ post.url }}" class="hover-color">{{ post.title }}</a></p>
          <span class="news-post-cat text-center">{{ post.date | date:"%Y年%m月%d日" }}</span>
          <p>{{ post.description }}</p>
        </div>
      </div>
    </div>{% endfor %}
  </div>
</div>