---
layout: default
---
<div class="bg-yellow margin-btm-60">
  <ol class="breadcrumb container">
    <li><a href="{{ site.url }}">首页</a></li>
    <li>/</li>{% if page.layout == 'products-article' %}
    <li><a href="{{ site.url }}/products/">产品中心</a></li>
    <li>/</li>{% endif %}{% if page.layout == 'news-article' %}
    <li><a href="{{ site.url }}/news/">新闻中心</a></li>
    <li>/</li>{% endif %}
    <li class="active">{{ page.title }}</li>
  </ol>
</div>
<div class="container">
  {{ content }}
</div>