---
layout: pages
---
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
    <mip-img src="{{ site.url }}/images/products/{{ page.image }}.jpg" class="img-thumbnail" alt="{{ page.title }}"></mip-img>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
    <p class="title-3 text-black margin-btm-20">{{ page.title }}</p>
  </div>
</div>
<div class="row">
  {{ content }}
</div>
<div class="bg-dark">
  <div class="container">
    <mip-img src="{{ site.url }}/images/products/{{ page.image }}-features.jpg" alt="{{ page.title }}"></mip-img>
  </div>
</div>
<div class="container">
  {% include products-list.html %}
</div>