---
layout: pages
---
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
    <mip-img src="{{ site.url }}/images/products/{{ page.image }}.jpg" class="img-thumbnail" alt="{{ page.title }}"></mip-img>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-btm-40">
    <p class="title-3 text-black margin-btm-20">{{ page.title }}</p>
    <p><i class="fas fa-check-circle"></i> {{ page.features-1 }}</p>
    <p><i class="fas fa-check-circle"></i> {{ page.features-2 }}</p>{% if page.features-3 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-3 }}</p>{% endif %}{% if page.features-4 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-4 }}</p>{% endif %}{% if page.features-5 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-5 }}</p>{% endif %}{% if page.features-6 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-6 }}</p>{% endif %}{% if page.features-7 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-7 }}</p>{% endif %}{% if page.features-8 == 'wu' %}{% else %}
    <p><i class="fas fa-check-circle"></i> {{ page.features-8 }}</p>{% endif %}
  </div>
</div>
<div class="row">
  {{ content }}
</div>
{% include products-list.html %}